/PotroP_Persistencia/target/
/PotroP_DTO/target/
/PotroP_Negocio/target/
/itson/target/
/loan/target/
/loggin/target/
/props/target/
/save/target/
/historialPrestamos/target/
/devolucion/target/
/PrestamoMaestrosSUB/target/
